<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/signup.css">
</head>
<body>
    
<div class="container" id="container">
	<div class="form-container sign-up-container">
	
	</div>
	<div class="form-container sign-in-container">
		<form action="/signup"  method="post">
			<h1>Sign Up</h1>
			<br>
        <input type="text" placeholder="Name" name="Name" required="1"/>
        <input type="email" placeholder="Email" name="Email" required="1" />
        <input type="number" placeholder="Phone No" name="PhoneNo" required="1"/>
        <input type="password" placeholder="Password" name="Password" required="1" />
        <input type="password" placeholder="Confirm Password" name="ConfirmPassword" required="1" />
        <input type="date" name="DOB" placeholder="DOB" required="1"/>
		<br>
			<button>Sign Up</button><br>
			<p class="bottom">Already have an account? <a class="bottom" href="login" style="color: rgb(30, 180, 218);"> Log In here</a></p>

			<div class="msg">{{ msg }}</div>

		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
		
			<div class="overlay-panel overlay-right">
				<h1>Wellcome User !</h1>
                <br> <br>
				
				<button class="ghost" id="signUp">Acess MovieStream</button>
			</div>
		</div>
	</div>
</div>



    
</body>
</html>